NODE_ENV=
PORT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_SSL=
DATABASE_SSL_REJECT_UNAUTHORIZED=
DATABASE_CONNECTION_TIMEOUT_MS=
DATABASE_IDLE_TIMEOUT_MS=
DATABASE_STATEMENT_TIMEOUT_MS=
SHUTDOWN_TIMEOUT_MS=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
CORS_ORIGIN_DEV=
CORS_ORIGIN_PRODUCTION=
POKEMON_TCG_API_KEY=
